#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
  height: auto;
}
html,body{
  height: auto;
}
a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ul{
  list-style: none;
}
aside#asideBarBlank{
  overflow-x: hidden;
}
.avatar{
  width: 150px;
  height: 150px;
  border-radius:50%;
}
/*地址选择框css*/
.area-select-wrap{
  display: flex;
  z-index: 10000;
}
.area-select.medium{
  width: 150px;
}
.area-select-wrap .area-select:first-child{
  margin-left: 0px;
}
.area-selected-trigger{
  padding: 0px !important;
  z-index: 100;
}
.area-select-wrap .area-select+.area-select{
  margin-left: 10px!important;
}
